/**
 * @name Rounded Squared Avatars
 * @author RyanDoesLeaks
 * @description Requested by SpaceWalker. It makes avatars rounded.
 * @version 1
 * @authorId 736816465545527357
 * @source https://github.com/lolLucoa/Random-Stuff
 */

img.avatar_c19a55.clickable_c19a55, div[class*=avatarSpeaking-], .avatarSmall__07f91, .border_f910d0.speaking_f910d0, .callAvatarMaskContainer_f910d0, .voiceAvatar_f910d0, .overlayAvatar-1U_zp1, .replyAvatar_c19a55, .avatarSpeaking__44b0c, .executedCommandAvatar_c19a55, .avatarBackground_eb2508, img.embedAuthorIcon__623de, img.executedCommandAvatar_c19a55.clickable_c19a55, img.avatar_c19a55, img.replyAvatar_c19a55.clickable_c19a55, .userAvatar__55bab.avatar__07f91.avatarSmall__07f91 {
  border-radius: 15%
}

img.avatarDecoration_c19a55, svg.avatarDecoration__44b0c {
  display: none !important
}

svg.mask__44b0c.svg__44b0c foreignObject, svg.svg_d48241.avatarHint_f89da9 foreignObject, svg_d48241 callAvatarMask_f910d0 foreignObject {
  mask: none !important;
  border-radius: 15%;
  overflow: hidden !important
}

svg.bannerSVGWrapper_b32cc2 foreignObject {
  mask: none !important;
  overflow: hidden !important
}

.unavailableTooltip__6d4ed {
  display: none;
}
