/**
 * @name Rounded Squared Avatars
 * @author RyanDoesLeaks
 * @description Requested by SpaceWalker. It makes avatars rounded.
 * @version 1
 * @authorId 736816465545527357
 * @source https://github.com/lolLucoa/Random-Stuff
 */

img.avatar_c19a55.clickable_c19a55, div[class*=avatarSpeaking-], .avatarSmall_d80634, .border_db83a2.speaking_db83a2, .callAvatarMaskContainer_db83a2, .voiceAvatar_db83a2, .overlayAvatar-1U_zp1, .replyAvatar_f9f2ca, .avatarSpeaking_c51b4e, .executedCommandAvatar_f9f2ca, .avatarBackground_bb882a, img.embedAuthorIcon__623de, img.executedCommandAvatar_c19a55.clickable_c19a55, img.avatar_f9f2ca, img.replyAvatar_c19a55.clickable_c19a55, .userAvatar_ac3629.avatar_d80634.avatarSmall_d80634, img.threadMessageAccessoryAvatar_c19a55, .avatars__1ee8c.avatars_ef4a91 {
  border-radius: 15%
}

img.avatarDecoration_c19a55, svg.avatarDecoration__44b0c {
  display: none !important
}

svg.mask_c51b4e.svg_c51b4e foreignObject, svg.svg_d48241.avatarHint_f89da9 foreignObject, svg_d48241 callAvatarMask_db83a2 foreignObject {
  mask: none !important;
  border-radius: 15%;
  overflow: hidden !important
}

svg.bannerSVGWrapper_b32cc2 foreignObject {
  mask: none !important;
  overflow: hidden !important
}

.unavailableTooltip_f40049 {
  display: none;
}
